body {
  margin: 0;
}

main {
  width: 400vh;
}

header {
  background-image: url("./imagebanner.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
}

.triangle {
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-left: 19px solid white;
  cursor: pointer;
}

.triangle:hover {
  border-left: 19px solid rgba(54, 179, 26);
}

.text {
  color: white;
  font-size: 28px;
}

.input {
  background-color: rgba(255, 255, 255);
  border: none;
  border-radius: 7px;
  font-size: 28px;
  padding: 6px;
  width: 290px;
}

.input:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.item {
  display: flex;
  margin-left: 50px;
  margin-top: 80px;
  opacity: 0.5;
  cursor: pointer;
}

.item:hover {
  opacity: 1;
  filter: drop-shadow(0 0 10px rgba(238, 235, 235, 0.5));
}

.oscar {
  width: 30px;
}

#logo {
  width: 270px;
  opacity: 1;
  cursor: pointer;
  margin-top: 80px;
}

#logo:hover {
  filter: drop-shadow(0 0 10px rgba(238, 235, 235, 0.5));
}
